In [170]:
import pandas as pd
import numpy as np
from math import e
from tkinter import *
import tkinter as tk
from difflib import SequenceMatcher

In [171]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [172]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings_sample.csv")

In [173]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [174]:
movies["year"] = movies.title.str.extract('(\(\d\d\d\d\))', expand=False)
movies["year"] = movies.year.str.extract("(\d\d\d\d)", expand=False)
movies["title"] = movies.title.str.replace('(\(\d\d\d\d\))', '', regex=True)
movies["title"] = movies["title"].apply(lambda x: x.strip())

In [175]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [176]:
movies["genres"] = movies.genres.str.split(r"|")

In [177]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [178]:
movies_with_genres = movies.copy()
glist = []
for l in movies.genres:
    for g in l:
        if not g in glist:
            glist.append(g)
            movies_with_genres[g] = 0.0

In [179]:
movies_with_genres.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [180]:
p = 0
for l in movies.genres:
    for g in l:
        movies_with_genres.at[p, g] = 1.0
    p += 1

In [181]:
movies_with_genres.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [182]:
ratings = ratings.drop("timestamp", axis='columns')

In [183]:
ratings.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [184]:
def add(title, rating):
    ifTitle = movies["title"].str.lower().isin([title.lower()])
    if movies[ifTitle].empty:
        for w in movies["title"].str.lower():
            if similar(title.lower(), w) >= 0.8:
                add_label.config(text= "Added!")
                userInput.append(
                    {'title': w, 'rating': int(rating)}
                    )
                break
            else:
                add_label.config(text= "Movie Not Found!")
    else:
        userInput.append(
            {'title': title, 'rating': int(rating)}
        )
        add_label.config(text= "Added!")

In [185]:
def dfInputMovies():
    global inputMovies
    inputMovies = pd.DataFrame(userInput)
    inputMovies

In [195]:
def dfInputId():
    global inputMovies, inputid
    inputid = movies[movies['title'].isin(inputMovies['title'].tolist())]
    inputMovies = pd.merge(inputid, inputMovies)
    inputMovies = inputMovies.drop('genres', axis='columns').drop('year', axis='columns')
    inputMovies

In [187]:
def dfUserMovies():
    global userMovies
    userMovies = movies_with_genres[movies_with_genres['movieId'].isin(inputMovies['movieId'].tolist())]
    userMovies

In [197]:
def dfGenresTable():
    global userMovies, userGenresTable
    userMovies = userMovies.reset_index(drop = True)
    userGenresTable = userMovies.drop("movieId", axis='columns').drop("title",axis='columns').drop("genres", axis='columns').drop("year", axis='columns')
    userGenresTable

In [189]:
def dfUserProfile():
    global userProfile
    userProfile = userGenresTable.transpose().dot(inputMovies["rating"])
    userProfile

In [190]:
def dfGenre_Table():
    global genre_table
    genre_table = movies_with_genres.set_index(movies_with_genres["movieId"])
    genre_table = genre_table.drop("movieId", axis='columns').drop("title", axis='columns').drop("genres", axis='columns').drop("year", axis='columns')
    genre_table.head()

In [191]:
def dfRecommendation():
    global recommendation
    recommendation = ((genre_table*userProfile).sum(axis = 1))/(userProfile.sum())
    recommendation.head()

In [199]:
def dfReSort():
    global recommendation
    recommendation = recommendation.sort_values(ascending= False)
    recommendation.head()

In [203]:
def result():
    dfInputMovies()
    dfInputId()
    dfUserMovies()
    dfGenresTable()
    dfUserProfile()
    dfGenre_Table()
    dfRecommendation()
    dfReSort()
    
    result_text.insert(tk.END, movies.loc[movies["movieId"].isin(recommendation.head(20).keys())])

In [228]:
def filled():
    if title_entry.get() and rating_entry.get():
        add_button.config(state= NORMAL)
    else:
        add_button.config(state= DISABLED)
    root.after(1, filled)

In [229]:
def user_added():
    if len(userInput) > 0:
        confirm_button.config(state= NORMAL) 
    root.after(1, user_added)

In [227]:
root = tk.Tk()
root.title("Movies Recommendation")
root.geometry("1000x500")

userInput = []

title_label = Label(root, text="Movie Title:")
title_entry = Entry(root)
rating_label = Label(root, text="Your Rating (from 0 to 5):")
rating_entry = Entry(root)
add_button = Button(root, text="Add", command= lambda: add(title_entry.get(), rating_entry.get(),), state= DISABLED)
add_label = Label(root, text="")
confirm_button = Button(root, text="Confirm", command= result, state= DISABLED)
result_text = Text(root, width=100, height=20)

title_label.pack()
title_entry.pack()
rating_label.pack()
rating_entry.pack()
add_button.pack()
add_label.pack()
confirm_button.pack()
result_text.pack()

root.after(1, user_added)
root.after(1, filled)
root.mainloop()